.signuperror {
  color:#FF0000;
}

.signupsuccess {
  color:#5ce600;
}

.divcard {
  border-radius: 25px;
  color: #777;
  background-color:white;
  text-align:center;
  padding:50px 80px;
}

.centerjumbo {
  text-align: center;
  align-items: center;

}

.listAlign{
    text-align: left;
    margin-left: 25%;
}​
.rounded{
  border-radius: 100px;

}
.half {
  height:50%;
  width:50%;
}
